.welcome{
  background-color:grey;
  border-radius:25px;
  color:black;padding:20px;
  width:45%;
  text-align:center;

}
.uki{
  background-color:grey;
  border-radius:25px;
  color:black;padding:20px;
  width:45%;
  text-align:center;
  float:left;
}

.stone{
  background-color:grey;
  border-radius:25px;
  color:black;padding:20px;
  width:45%;
  text-align:center;
  float:right;
}
